<div id="app">
  <form class="pure-form pure-g">
    <div class="pure-u-3-4">
      <input v-model="message" class="pure-input-1" type="text" placeholder="Text">
    </div>
    <button class="pure-button pure-button-primary" v-on:click="getScore">Get score!</button>
  </form>
  <p v-if="showScore">Score: {{ score }}</p>
</div>
